In [3]:
# Se importan las librerias necesarias
import pandas as pd 

# Se cargan los datos
colums = ['EGRESO', 'DIAG_INI', 'ENTIDAD']
dataframe = pd.read_csv('EGRESO_2015.csv', usecols=colums).dropna()
dataframe1 = dataframe.loc[dataframe['ENTIDAD'] == 19]
dataframe1

                      EGRESO  ENTIDAD DIAG_INI
2721     2015-12-01 00:00:00       19     C349
3052     2015-08-24 00:00:00       19     C186
3098     2015-07-15 00:00:00       19     C509
3254     2015-06-18 00:00:00       19     C509
8651     2015-05-09 00:00:00       19     C189
...                      ...      ...      ...
2923756  2015-06-10 00:00:00       19     J342
2931414  2015-08-18 00:00:00       19     M190
2934869  2015-09-09 00:00:00       19     C229
2943586  2015-11-20 00:00:00       19     K801
2966800  2015-08-14 00:00:00       19     F322

[54209 rows x 3 columns]